<div class="container align-items-center mt-5">
    <h2 class="text-center mb-4">Доп. возможности</h2>
    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("Выгрузить БД", "GetDbExcel", "ConvertToExcel")</td>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("Защита файлов", "FileEncryption", "FileEncryption")</td>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("ЭЦП", "DigitalSignature", "FileEncryption")</td>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("Информация о портах", "InfoPorts", "Ports")</td>
           </tr>
        </tbody>
    </table>
</div>