<div class="container align-items-center mt-5">
    <h2 class="text-center mb-4">Навигация</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center"  scope="col" colspan="3">Фитнес-центр</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("На главную", "Index", "Center")</td>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("добавить", "CreateCenter", "Center")</td>
                <td class="text-center bg-warning" scope="row">@Html.ActionLink("список центров", "AllCenter", "Center")</td>
           </tr>
        </tbody>
    </table>
</div>